<!DOCTYPE html>
<html>
<head>
	<title>Input</title>
</head>
<body>
	<h2>How much change do you have?</h2>
	<form method="post" action="input">
		<input type="number" name="cents" autofocus>
		<input type="submit" value="Submit">
	</form>



</body>
</html>