<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>

	<h1>Here are your coins, <%= session[:name] %></h1>


	<%session[:coins].each_pair do |key, value|%>
	<h2><%= key %>: <%= value %></h2>
	<% end %>


	<form action="/input" method="get">
		<input type="submit" value ="Do it Again!">
	</form>




	</body>
	</html>